<?xml version="1.0" encoding="utf-8"?>
<Entity>
    <Item>
        <!--core-->
        <EntityInfo bindStyle="LIST" code="Archive" dataStyle="DATABANK" mappingName="archive" assembly="Sun.Entity.Pagelet.Archive, Sun.Entity" />
        <EntityInfo bindStyle="LIST" code="Channel" dataStyle="DATABANK" mappingName="Channel" assembly="Sun.Entity.Pagelet.Channel, Sun.Entity" />
        <!--/core-->
        <!--global-->
        <!--/global-->
        <!--html-->
        <!--/html-->
        <!--main-->
        <EntityInfo bindStyle="LIST" code="test" dataStyle="DATABANK" mappingName="FriendLink" assembly="Sun.Entity.Pagelet.FriendLink,Sun.Entity" />
        <!--/main-->
        <!--member-->
        <!--/member-->
        <!--module-->
        <EntityInfo bindStyle="LIST" code="Friendlink" dataStyle="DATABANK" mappingName="FriendLink" assembly="Sun.Entity.Pagelet.EntityFriendLink,Sun.Entity" />
        <EntityInfo bindStyle="LIST" code="FriendLinkGroup" dataStyle="DATABANK" mappingName="FriendLinkGroup" assembly="Sun.Entity.Pagelet.FriendLinkGroup,Sun.Entity" />
        <EntityInfo bindStyle="LIST" code="Advertisement" dataStyle="DATABANK" mappingName="advertisement" assembly="Sun.Entity.Pagelet.Advertisement,Sun.Entity" />
        <EntityInfo bindStyle="LIST" code="AdvertisementGroup" dataStyle="DATABANK" mappingName="advertisementGroup" assembly="Sun.Entity.Pagelet.AdvertisementGroup,Sun.Entity" />
        <!--/module-->
        <!--system-->
        <EntityInfo bindStyle="AROW" code="Information" datastyle="CONFIG" mappingName="sysinfo.config" assembly="Sun.Entity.Pagelet.Information,Sun.Entity" />
        <!--/system-->
        <!--templet-->
        <!--/templet-->
    </Item>
</Entity>
