<?xml version="1.0" encoding="utf-8"?>
<sun xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<data>
		<add key="dbtype" value="SqlServer" />
		<add key="tablePrefix" value="sun_" />
	</data>
	<appsettings>
		<add key="culture" value="zh-CN" />
		<add key="controlpath" value="~/[adminpath]/controls/" />
		<add key="enablecheckpermission" value="true" />
		<add key="resxpath" value="~/[adminpath]/data/" />
        <add key="pageletpath" value="~/[adminpath]/pagelet/" />
	</appsettings>
	<locations>
		<add key="adminpath" value="suncms" />
		<add key="memberpath" value="member" />
	</locations>
    <query>
        <add key="pageName" value="sun_page"></add>
    </query>
	<authcode>
		<add key="backGroundColor" value="#ffffff" />
		<add key="code" value ="0|1|2|3|4|5|6|7|8|9" />
		<add key="fontSize" value="14" />
		<add key="fontColor" value="#000000" />
		<add key="ignoreCase" value="true"/>
		<add key="maxLength" value="4" />
	</authcode>
    <rewriter>
        <rules>
            <rewriterRule lookFor="~/list-([\d]*).aspx" sendTo="~/templets/aspx/list.aspx?channelId=$1" />
            <rewriterRule lookFor="~/view-([\d]*)-([\d]*).aspx" sendTo="~/templets/aspx/view.aspx?type=$1&amp;archiveId=$2" />
        </rules>
    </rewriter>
</sun>
