<?xml version="1.0"?>
<entitySystem xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <autoKeyword>true</autoKeyword>
    <albumWidth>3</albumWidth>
    <albumRow>4</albumRow>
    <albumCol>12</albumCol>
    <albumPageSize>2</albumPageSize>
    <albumStyle>2</albumStyle>
    <albumNailWidth>200</albumNailWidth>
    <adminEmail>suncms@qq.com</adminEmail>
    <baseHost>http://www.suncms.com</baseHost>
    <beian>沪123456780</beian>
    <cacheFactor>5</cacheFactor>
    <copyRight>@ 2012 SunCMS Corporation. All Rights Reserved.</copyRight>
    <comName>上海煦阳网络</comName>
    <comTel>15901965827</comTel>
    <comAddress>上海</comAddress>
    <description>上海煦阳网络科技</description>
    <dutyAdmin>admin</dutyAdmin>
    <delUpload>true</delUpload>
    <delLink>false</delLink>
    <indexUrl>/</indexUrl>
    <imgLocal>true</imgLocal>
    <imgType>jpg|gif|png</imgType>
    <imgMark>true</imgMark>
    <keywords>SunCMS，阳光内容管理系统，煦阳，煦阳网络</keywords>
    <listSize>20</listSize>
    <webName>SunCMS阳光内容管理系统</webName>
    <rollClick>-1</rollClick>
    <rewrite>false</rewrite>
    <recycled>true</recycled>
    <symbol> &gt; </symbol>
    <saveStyle>yyyy-MM-dd</saveStyle>
    <smtpServer>smtp.qq.com</smtpServer>
    <smtpPort>25</smtpPort>
    <smtpEmail>suncms@qq.com</smtpEmail>
    <smtpUser>suncms</smtpUser>
    <smtpCode>123412341234</smtpCode>
    <softType>zip|gz|rar|iso|doc|xsl|ppt|wps</softType>
    <taskRate>2</taskRate>
    <taskThread>10</taskThread>
    <maxSummary>240</maxSummary>
    <maxTitle>60</maxTitle>
    <memOpen>true</memOpen>
    <memForbid>www,bbs,ftp,mail,user,users,admin,administrator</memForbid>
    <memMinID>3</memMinID>
    <memMinCode>6</memMinCode>
    <memCheckEmial>true</memCheckEmial>
    <memOpenReg>true</memOpenReg>
    <mediaType>swf|mpg|mp3|rm|rmvb|wmv|wma|wav|mid|mov</mediaType>
    <nailWidth>240</nailWidth>
    <nailHeight>180</nailHeight>
    <nailFill>true</nailFill>
    <nailbgColor>0</nailbgColor>
    <userMaxFace>50</userMaxFace>
    <upNailCut>true</upNailCut>
</entitySystem>